!!!
%html{ :lang => "en" }
  %head
  %meta{ :charset => "utf-8"}/
  %meta{ :content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
  %meta{ :content => "width=device-width, initial-scale=1", :name => "viewport"}/
  %meta{ :content => "", :name => "description"}/
  %meta{ :content => "", :name => "author"}/
  %link{ :href => asset_url("fav.ico"), :rel => "icon"}/
  %title= t(:title)
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
  = render 'layouts/shim'
%body.index#page-top
  = render 'layouts/navigation'
  = render 'layouts/messages'
  = yield
  %footer.footer
    = render 'layouts/footer'
    = debug(params) if Rails.env.development?
    = render 'layouts/ga' if Rails.env.production?

  = javascript_include_tag  "jquery.easing"
  = javascript_include_tag  "classie"
  = javascript_include_tag  "cbpAnimatedHeader"
  = javascript_include_tag  "jqBootstrapValidation"
  = javascript_include_tag  "contact_me"
  = javascript_include_tag  "reportcard/reportcard"
  = javascript_include_tag  "custom"
